---
---

{% include head.html %}
  <body>
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="row">
              <div class="container">
                <div class="col-sm-12" itemscope itemtype="http://data-vocabulary.org/Person">
                  <div class="row">
                    <br>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <h1 class="copy-text gray-text space-below center">
                        <span itemprop="name">Stephanie Cochard</span>
                      </h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h2 class="gray-text heading-text space-below center">
                        <span itemprop="role">Copywriter</span>
                      </h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <h3 class="gray-text heading-text move-up headline space-below center">
                        <span itemprop="role">Oh hi there! I’m a diverse freelance copywriter who is passionate about crafting impactful content to help brands grow. </span>
                      </h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="gray-text heading-text center">
                        Let’s chat: <br>
                      </h4>
                      <p class="gray-text heading-text move-up space-below center">
                        <a href="tel:19498422212">949.842.2212</a><br>
                        <a href="mailto:slcochard@gmail.com">slcochard@gmail.com</a><br>
                        <a href="https://www.linkedin.com/in/stephaniecochard">Linkedin</a>
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container">
        <div class="container">

          <div class="row">
            <div class="row nopadding">
              <h4 class="col-sm-8 col-sm-offset-1-2 heading-text xx-large-text">
                Digital Samples
              </h4>
              <h5 class="col-sm-8 col-sm-offset-1-2 heading-text large-text">
                Emails, landing pages, blog articles, social media, radio
              </h5>
            </div>
            <div class="container-fluid">
              <div class="row img-grid">
                {% for row in site.data.drive.digital %}
                <a href="{{row.link}}" target="_blank"><img src="{{row.thumb}}"></a>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row nopadding">
              <h4 class="col-sm-8 col-sm-offset-1-2 heading-text xx-large-text">
                Print Samples
              </h4>
              <h5 class="col-sm-8 col-sm-offset-1-2 heading-text large-text">
                Direct mailers, lookbooks, campaign collateral, window displays, newspaper ads
              </h5>
            </div>
            <div class="container-fluid">
              <div class="row img-grid">
                {% for row in site.data.drive.print %}
                <a href="{{row.link}}" target="_blank"><img src="{{row.thumb}}"></a>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row nopadding">
              <h4 class="col-sm-8 col-sm-offset-1-2 heading-text xx-large-text">
                Storytelling
              </h4>
              <h5 class="col-sm-8 col-sm-offset-1-2 heading-text large-text">
                Campaign summaries, style guides, brand content
              </h5>
            </div>
            <div class="container-fluid">
              <div class="row img-grid">
              {% for row in site.data.drive.storytelling %}
                <a href="{{row.link}}" target="_blank"><img src="{{row.thumb}}"></a>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="footer row gray-box light">
              <div class="col-sm-12 text-center heading-text smaller-text">
                <small class="hearts">Copyright &copy; 2013-2020</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
