---

---

{% include header.html %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            {% for section in site.data.headings %}
                            <div class="col-sm-12">
                                <div class="row medium-text">
                                    <h4>{{ section.heading }}</h4>
                                    <p>
                                    {{ section.text }}
                                    </p>
                                </div>
                            </div>
                            {% assign grid = site.data.grids[section.type] %}
                            {% if grid.size > 0 %}
                            <div class="row img-grid">
                                {% for img in grid %}
                                {% capture mod %}{{ forloop.index | modulo:3 }}{% endcapture %}
                                <div class="col-sm-4">
                                    <img src="{{ img.src }}">
                                    <br>
                                    {{ img.caption }}
                                </div>
                            {% if forloop.last %}</div>{% elsif mod == '0' %}</div>
                            <div class="row img-grid">
                            {% endif %}
                            {% else %}
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                        </div>

                    </div>

                {% include sidenav.html %}
            </div>
        </div>

        </div>

        {% include footer.html %}

    </body>
</html>
