---

---

{% include header.html %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 panel-group">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="black-text copy-text medium-text">
              <p><strong>Creative marketing professional focused on applying excellent written and verbal skills to advance brand and marketing strategies for innovative companies through results-driven communications programs.</strong></p>
              <h3 class="salmon-text">CORE STRENGTHS</h3>
              <ul>
                <li>
                Produce and edit copy that excites call to action and translates industry-specific ideas into key messaging that speaks to a larger audience
                </li>
                <li>
                Experienced in fast-paced, deadline-driven corporate environments, with a tendency to take initiative through self-started projects and lead by example
                </li>
                <li>
                Demonstrated ability to develop and manage proactive communications programs that maximize brand awareness and increase market presence
                </li>
                <li>
                Adept at recognizing how design and copy work together
                </li>
                <li>
                Able to quickly respond and adapt to feedback, edits, and changes of scope
                </li>
                <li>
                Skilled at contributing content for:
                <ul>
                  <li>
                  Websites
                  </li>
                  <li>
                  Blogs
                  </li>
                  <li>
                  Collateral
                  </li>
                  <li>
                  Emails
                  </li>
                  <li>
                  Brand &amp; Mission Statements
                  </li>
                  <li>
                  Trade Shows
                  </li>
                  <li>
                  Product UI/UX
                  </li>
                  <li>
                  Social Media
                  </li>
                  <li>
                  Press Releases
                  </li>
                  <li>
                  Consumer Groups
                  </li>
                  <li>
                  Industry Targeted Audience
                  </li>
                  <li>
                  Internal Corporate Employees
                  </li>
                  <li>
                  Charitable Organizations &amp; Events
                  </li>
                </ul>
                </li>
              </ul>

              <h3 class="salmon-text">SKILLS</h3>
              <p>
              Microsoft Word, Excel, PowerPoint, Outlook, OneNote, SharePoint,
              <br>
              Adobe Illustrator, InDesign, Photoshop, Acrobat X Pro,
              <br>
              Content Management Systems, Customer Relationship Systems, Press Distribution Services
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include sidenav.html %}

  </div>
</div>
    </div>

    {% include footer.html %}

  </body>
</html>
