---

---

{% include header.html %}
			<div class="container">
				<div class="row">
					<div class="col-sm-9 panel-group">
						<div class="row">
							<div class="col-sm-12">
                                <div class="row">
									<div class="black-text copy-text medium-text">
                                        <h2 class="green-text">Wow, you're pretty adventurous!</h2>
                                        <h3>As a reward, here's a little bit about me (best prize ever, obviously)</h3>
                                        <div class="col-sm-2" style="margin-right:-25px;">
                                            <img src="stephanie_cochard.jpg">
                                        </div>
                                        <div class="col-sm-10">
                                            <ul>
                                                <li>
                                                I'm a former Anteater. Go UC Irvine! Zot zot?
                                                </li>
                                                <li>
                                                Will write for pizza. And Netflix.
                                                </li>
                                            </ul>
                                            ---&gt; Yes, this is my good side. My jolly, good side.
                                            <ul>
                                                <li>
                                                Is it sunny out? I'm playing Smashball on the beach. (And probably losing).
                                                </li>
                                                <li>
                                                I enjoy sword fighting with pencils. Currently seeking opponents.
                                                </li>
                                                <li>
                                                A shrimp's heart is in its head. Not about me, but still interesting.
                                                </li>
                                                <li>
                                                I am co-creator of the health companion app <strong><a href="https://fitbeast.io" target="_blank">Fitbeast</a></strong> available on the <strong><a href="https://play.google.com/store/apps/details?id=io.fitbeast.android.app.FitbeastApplication" target="_blank">Google Play Store</a></strong>.
                                            </ul>
                                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>


          {% include sidenav.html %}

				</div>
			</div>
		</div>

    {% include footer.html %}

	</body>
</html>
