{% include head.html %}
	<body>
		<div class="container">
			<div class="container">
				<div class="row">
					<br>
					<br>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-8">
								<h1 class="copy-text black-text small-header">
									<a href="/">Stephanie Cochard</a> &nbsp;<span class="squares">&nbsp;</span>
								</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-sm-offset-2">
								<h4 class="green-text heading-text move-up move-right small-header">
									WRITE. MARKET. DESIGN.
								</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

